In [1]:
#from https://towardsdatascience.com/creating-a-dataset-using-an-api-with-python-dcc1607616d

import requests
import pandas as pd
import json

channels = ["ESL_SC2", "OgamingSC2", "cretetion", "freecodecamp", 
            "storbeck", "habathcx", "RobotCaleb", "noobs2ninjas",
            "ninja", "shroud", "Dakotaz", "esltv_cs", "pokimane", 
            "tsm_bjergsen", "boxbox", "wtcn", "a_seagull",
            "kinggothalion", "amazhs", "jahrein", "thenadeshot", 
            "sivhd", "kingrichard"]
list_of_channels = []
url = 'https://wind-bow.glitch.me/twitch-api/channels/'

for channel in channels:
  data = requests.get(url + channel).json()
  if 'error' not in data:
    list_of_channels.append([data['_id'], data['display_name'], data['status'], data['followers'], data['views']])

dataset = pd.DataFrame(list_of_channels)
dataset.head

<bound method NDFrame.head of           0             1  ...       3         4
0  30220059       ESL_SC2  ...  135394  60991791
1  71852806    OgamingSC2  ...   40895  20694507
2  90401618     cretetion  ...     908     11631
3  79776140  FreeCodeCamp  ...   10122    163747
4  86238744      storbeck  ...      10      1019
5   6726509      Habathcx  ...      14       764
6  54925078    RobotCaleb  ...      20      4602
7  82534701  noobs2ninjas  ...     835     48102

[8 rows x 5 columns]>

In [2]:
dataset.columns = ['ID', 'Display Name', 'Status', 'Followers', 'Views']
dataset.dropna(axis = 0, how = 'any', inplace = True)
dataset.index = pd.RangeIndex(len(dataset.index))

In [3]:
dataset

         ID  Display Name  ... Followers     Views
0  30220059       ESL_SC2  ...    135394  60991791
1  71852806    OgamingSC2  ...     40895  20694507
2  90401618     cretetion  ...       908     11631
3  79776140  FreeCodeCamp  ...     10122    163747
4   6726509      Habathcx  ...        14       764
5  54925078    RobotCaleb  ...        20      4602
6  82534701  noobs2ninjas  ...       835     48102

[7 rows x 5 columns]